<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!--	tab title-->
	<!-- tab title -->
	<title th:if="${title}" th:text="#{${title}}"></title>
	<title th:unless="${title}" th:text="#{default.title}"></title>


	<!--meta info-->

	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/print.css}" />

	<script th:src="@{/webjars/jquery/jquery.js}"></script>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

	<th:block layout:fragment="meta"></th:block>

	<script layout:fragment="meta-script"></script>
</head>

<body class="container">

	<div class="row mt-5">
		<div class="mb-3 no-print">
			<button class="btn btn-primary" onclick="window.print()" th:text="#{label.pdf.export}">PDF出力</button>
		</div>

		<div class="mb-3 no-print">
			<button class="btn btn-secondary" onclick="history.back()" th:text="#{label.return}">戻る</button>
		</div>
	</div>


	<th:block layout:fragment="mainContent">
		<!-- ここに記述-->
	</th:block>
	</div>


	<script layout:fragment="bodyScript" th:inline="javascript"></script>
</body>

</html>