HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS
*.swp              # Vim swap file
*.bak              # Backup files
*.tmp              # Temp files
*.orig             # merge conflict files
ehthumbs.db
Desktop.ini

# Log & temp
*.log
logs/

# Node.js
/frontend/node_modules/
frontend/dist/
frontend/.vite/

# Vite build output
/src/main/resources/static/js/bundle/

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
