spring.application.name=ProjectManagementSystem
#接続用URL(Windows/Mac)
spring.datasource.url=jdbc:mariadb://localhost/project_management
spring.datasource.url=jdbc:mariadb://localhost:8889/project_management

#MariaDBのドライバ設定
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MariaDBDialect

#ユーザ名
spring.datasource.username=root

#パスワード(Windows/Mac)
spring.datasource.password=
spring.datasource.password=root

spring.security.user.name=admin
spring.security.user.password=pass123
spring.security.user.roles=ADMIN
spring.profiles.active=dev
