<th:block th:fragment="featureRegisterForm">
	<div class="card p-4 shadow-sm rounded-3">
		<h5 class="card-title mb-3" th:text="#{label.new.register}">新規登録</h5>
		<form th:action="@{/project/{projectId}/feature/add(projectId=${project.id})}" 
		      th:object="${featureForm}" 
		      method="post" 
		      class="row g-3 align-items-center">

			<input type="hidden" name="projectId" th:value="${projectId}" />
			<input type="hidden" name="moduleId" th:value="${moduleId}" />

			<div class="col-md-4">
				<label for="FeatureName" class="form-label">モジュール名</label>
				<input type="text" required th:field="*{featureName}" class="form-control" placeholder="例: User登録機能">
			</div>

			<div class="col-md-4">
				<label for="programFeatureName" class="form-label">プログラム機能呼称</label>
				<input type="text" required th:field="*{programFeatureName}" id="programFeatureName" class="form-control" placeholder="例: userFeature">
			</div>

			<div class="col-md-12">
				<label for="description" class="form-label">機能説明</label>
				<textarea th:field="*{description}" id="context" class="form-control" rows="4" placeholder="この機能の目的や使用方法を記述してください"></textarea>
			</div>

			<div class="col-md-2 mt-3">
				<button type="submit" class="btn btn-primary w-100" th:text="#{label.register}">登録</button>
			</div>
		</form>
	</div>
</th:block>
