<div th:fragment="nav" class="border-end"  style="min-height: 100vh;">
	<ul class="nav flex-column">
		<li class="nav-item mb-2">
			<a class="nav-link active" aria-current="page" href="/" th:href="@{/}">
				<i class="bi bi-house-door"></i> ダッシュボード
			</a>
		</li>
		<li class="nav-item mb-2">
			<a class="nav-link" href="#" th:href="@{/projects}">
				<i th:utext="#{icon.project}"></i> プロジェクト
			</a>
		</li>


		<th:block th:unless="#{${title}} == #{title.project.top}">

			<li class="nav-item mb-2">
				<a class="nav-link" href="#" th:href="@{/clients}">
					<i th:utext="#{icon.client}"></i> 顧客管理
				</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link" href="#"  th:href="@{/database/{id}(id=${projectId})}">
					<i th:utext="#{icon.data}"></i> DB定義
				</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link" href="#" th:href="@{/modules/{id}(id=${projectId})}">
					<i th:utext="#{icon.module}"></i> モジュール
				</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link" href="#" th:href="@{/requirements/{id}(id=${projectId})}">
					<i th:utext="#{icon.requirement}"></i> 要件定義
				</a>
			</li>

		</th:block>

		<li class="nav-item mt-4">
			<a class="nav-link text-danger" href="#" th:href="@{/logout}">
				<i th:utext="#{icon.logout}"></i> ログアウト
			</a>
		</li>

	</ul>
</div>