<th:block th:fragment="registerForm">
	<form th:action="@{/projects/add}" th:object="${projectRegisterForm}" method="post" class="row g-2 align-items-center">

		<div class="col-auto">
			<label class="form-label">新規登録</label>
		</div>

		<div class="col-md-4">
			<input type="text" required th:field="*{projectName}" class="form-control" th:placeholder="#{field.project_name}">
		</div>

		<div class="col-md-4">
			<input type="text" th:field="*{applicationName}" class="form-control" th:placeholder="#{field.application_name}">
		</div>

		<div class="col-md-2">
			<button type="submit" class="btn btn-primary w-100">登録</button>
		</div>

	</form>
</th:block>
