<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/parentLayout.html}">

<th:block layout:fragment="meta">
	<script th:src="@{/js/ui/toggleForm.js}"></script>
	<script th:src="@{/js/designated/dbSetting/columnForm.js}"></script>
</th:block>

<th:block layout:fragment="mainContent">

<!--	<div class="my-5">-->
<!--		<th:block th:insert="~{contents/projects/fragments/register :: registerForm}"></th:block>-->
<!--	</div>-->

<!--	<th:block th:if="${projects}">-->
<!--		<th:block th:insert="~{contents/projects/fragments/accordion :: accordion}"></th:block>-->
<!--	</th:block>-->
<p>このプロジェクトに関連するページのリンクボタンを作成する</p>
	<li>DB</li>
	<li>モジュール・ファンクション</li>
	<li>仕様書類</li>
	<li>スケジュール管理</li>

<hr />
<p>クライアント情報</p>
<p>プロジェクト設定・コーディングルールとか</p>
<p>メンバー</p>


</th:block>


</html>