<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/parentLayout.html}">

<th:block layout:fragment="meta">
	<script th:src="@{/js/ui/toggleForm.js}"></script>
	<script th:src="@{/js/designated/dbSetting/columnForm.js}"></script>
</th:block>

<th:block layout:fragment="mainContent">

	<div class="my-5">
		<th:block th:insert="~{contents/projects/fragments/register :: registerForm}"></th:block>
	</div>

	<th:block th:if="${projects}">
		<th:block th:insert="~{contents/projects/fragments/accordion :: accordion}"></th:block>
	</th:block>

</th:block>


</html>