<!--DB作成フォーム-->

<th:block th:fragment="DBRegisterForm">
	<form th:action="@{/project/{projectId}/database/add(projectId=${project.id})}" th:object="${dbInfoRegisterForm}"
		method="post" class="row g-2 align-items-center">

		<div class="col-2">
			<label class="form-label" th:text="#{label.new.register}">新規登録</label>
		</div>

		<input type="hidden" name="projectId" th:value="${projectId}" />

		<div class="col-md-4">
			<input type="text" required th:field="*{dbName}" class="form-control" placeholder="データベース名">
		</div>

		<div class="col-md-4">
			<select class="form-select" required th:field="*{dbms}" aria-label="Default select example">
				<option value="MariaDB">MariaDB</option>
				<option value="MySQL">MySQL</option>
			</select>
		</div>

		<div class="col-md-2">
			<button type="submit" class="btn btn-primary w-100">登録</button>
		</div>
	</form>
</th:block>

<!--テーブル作成フォーム-->

<th:block th:fragment="TableRegisterForm">

	<form th:action="@{/project/{projectId}/database/{dbId}/table/add(projectId=${project.id}, dbId=${db.id})}"
		th:object="${tableInfoRegisterForm}" method="post" class="row g-2 align-items-center">

		<div class="col-2">
			<label class="form-label" for="tableName">テーブル追加</label>
		</div>

		<input type="hidden" name="dbInfoId" th:value="${db.id}" />

		<div class="col-md-4">
			<input type="text" required th:field="*{tableName}" class="form-control" placeholder="テーブル名">
		</div>
		<div class="col-md-4">
			<input type="text" th:field="*{tableAlias}" class="form-control" placeholder="論理名">
		</div>

		<div class="col-md-2">
			<button type="submit" class="btn btn-outline-primary w-100">追加</button>
		</div>
	</form>

</th:block>


<!--カラム作成フォーム-->
<th:block th:fragment="ColumnForm">
	<form id="columnForm" th:object="${tableColumnRegisterForm}"
		th:action="@{/project/{projectId}/database/{dbId}/table/{tableId}/column(projectId=${project.id}, dbId=${db.id}, tableId=${table.id})}"
		method="post" class="row g-2">

		<!-- フォーム全体のエラーリスト表示（項目に関係なく） -->
		<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
			<ul class="mb-0">
				<li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
			</ul>
		</div>

		<input type="hidden" th:field="*{id}" />

		<input type="hidden" name="tableInfoId" th:value="${table.id}" />

		<div class="col-md-3">
			<label class="form-label" th:for="'columnName'">カラム名</label>
			<input type="text" class="form-control" th:field="*{columnName}" th:id="'columnName'" required />
		</div>

		<div class="col-md-3">
			<label class="form-label" th:for="'alias'">論理名</label>
			<input type="text" class="form-control" th:field="*{alias}" th:id="'alias'" />
		</div>

		<div class="col-md-3">
			<label class="form-label" th:for="'dataType'">データ型</label>
			<select class="form-select" required th:field="*{dataType}" th:id="'dataType'"
				aria-label="Default select example">
				<option th:each="dt : ${dataTypeResolver.getDataTypeOptions()}" th:value="${dt}" th:text="${dt}">
					DATATYPE</option>
			</select>
		</div>

		<div class="col-md-3">
			<label class="form-label" th:for="'dataTypeParam'">型パラメータ</label>
			<div class="input-group">
				<span class="input-group-text">(</span>
				<input type="text" class="form-control" th:field="*{dataTypeParam}" th:id="'dataTypeParam'" />
				<span class="input-group-text">)</span>
			</div>
		</div>


		<div class="col-md-12">

			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" th:field="*{isPrimary}" th:id="'isPrimary'" />
				<label class="form-check-label" th:for="'isPrimary'">PrimaryKey</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" th:field="*{isUnique}" th:id="'isUnique'" />
				<label class="form-check-label" th:for="'isUnique'">UniqueKey</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" th:field="*{isForign}" th:id="'isForign'" />
				<label class="form-check-label" th:for="'isForign'">ForeignKey</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" th:field="*{isNullable}" th:id="'isNullable'" />
				<label class="form-check-label" th:for="'isNullable'">NULL許容</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" th:field="*{isAutoIncrement}"
					th:id="'isAutoIncrement'" />
				<label class="form-check-label" th:for="'isAutoIncrement'">AUTO INCREMENT</label>
			</div>
		</div>

		<div class="col-md-3">
			<label class="form-label" th:for="'defaultValue'">初期値</label>
			<input type="text" class="form-control" th:field="*{defaultValue}" th:id="'defaultValue'" />
		</div>

		<div class="col-md-4">
			<label class="form-label" th:for="'checkConstraint'">制約</label>
			<input type="text" class="form-control" th:field="*{checkConstraint}" th:id="'checkConstraint'"
				placeholder="e.g. price >= 0 or status IN ('A', 'B')" />
		</div>

		<div class="col-md-5">
			<label class="form-label" th:for="'comment'">コメント</label>
			<input type="text" class="form-control" th:field="*{comment}" th:id="'comment'" />
		</div>

		<div th:id="'fkTarget'" style="display: none;" class="col-md-12">
			<div class="col-md-12">
				<div class="col-md-6">
					<label class="form-label" th:for="'forignId'">参照カラム（FK）</label>
					<select class="form-select" th:field="*{forignId}" th:id="'forignId'">
						<option value="">--select foreign key--</option>
						<option th:each="o : *{forignOptions}" th:value="${o.id}"
							th:text="${o.tableName +  '.   ' + o.columnName}">
						</option>
					</select>
				</div>
			</div>

			<div class="col-md-6">
				<label class="form-label" th:for="'onDelete'">ON DELETE</label>
				<select class="form-select" th:field="*{onDelete}" th:id="'onDelete'">
					<option value="">--select a constraint--</option>
					<option th:each="o : ${dataTypeResolver.getFkConstraintOptions()}" th:value="${o}" th:text="${o}">
					</option>
				</select>
			</div>

			<div class="col-md-6">
				<label class="form-label" th:for="'onUpdate'">ON UPDATE</label>
				<select class="form-select" th:field="*{onUpdate}" th:id="'onUpdate'">
					<option value="">--select a constraint--</option>
					<option th:each="o : ${dataTypeResolver.getFkConstraintOptions()}" th:value="${o}" th:text="${o}">
					</option>
				</select>
			</div>
		</div>
	</form>
</th:block>

<th:block th:fragment="ColumnUpdateBtn">
	<button type="submit" class="btn btn-warning" form="columnForm" th:text="#{label.save}" name="action"
		value="edit">EDIT</button>
</th:block>

<th:block th:fragment="ColumnDeleteBtn">
	<button type="submit" class="btn btn-danger" th:text="#{label.delete}" form="columnForm" name="action"
		value="delete">DELETE</button>
</th:block>

<th:block th:fragment="ColumnNewBtn">
	<button type="submit" class="btn btn-primary" form="columnForm" th:text="#{label.save}" name="action"
		value="add">追加</button>
</th:block>