<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/parentLayout.html}">


<th:block layout:fragment="breadCrumb">

	<li class="breadcrumb-item"><a th:href="@{/projects}" th:text="${project.projectName}">BreadCrumb1</a></li>
	<li class="breadcrumb-item active" aria-current="page">BreadCrumb2</li>

</th:block>

<th:block layout:fragment="mainContent">


	<th:block th:if="${dbInfo}">
		<th:block th:insert="~{contents/databases/fragments/accordion :: accordion}"></th:block>
	</th:block>


	<div class="my-5">
		<th:block th:insert="~{contents/databases/fragments/register :: registerForm}"></th:block>
	</div>


</th:block>


</html>