<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/parentLayout.html}">



<th:block layout:fragment="breadCrumb">

	<th:block th:insert="~{contents/databases/fragments/breadcrumb :: parent}"></th:block>
	<th:block th:insert="~{contents/databases/fragments/breadcrumb :: child}"></th:block>
	<li class="breadcrumb-item active" aria-current="page" th:text="#{title.db.tables}">テーブル詳細</li>

</th:block>

<th:block layout:fragment="mainContent">

	<th:block th:insert="~{contents/databases/fragments/infoCard :: tableInfo}"></th:block>

	<table class="table table-striped table-bordered shadow table-sm">
		<thead class="table-primary">
			<tr>
				<th>カラム名</th>
				<th>論理名</th>
				<th>データ型</th>
				<th>PK</th>
				<th>UK</th>
				<th>FK</th>
				<th>NULL</th>
				<th>AUTO INCR</th>
				<th>初期値</th>
				<th>制約</th>
				<th>コメント</th>
			</tr>
		</thead>
		<tbody th:if="${columnList.size()>0}">
			<tr th:each="col : ${columnList}">
				<td th:text="${col.columnName}">column</td>
				<td th:text="${col.alias}">alias</td>
				<td th:text="${col.dataType + (col.dataTypeParam != null ? '(' + col.dataTypeParam + ')' : '')}">
					type</td>

				<td th:text="${col.isPk ? '○' : ''}">pk</td>
				<td th:text="${col.isUnique ? '○' : ''}">uk</td>
				<td th:text="${col.isFK ? '○' : ''}">fk</td>
				<td th:text="${col.isNullable ? '○' : '×'}">nullable</td>
				<td th:text="${col.isAutoIncrement ? '○' : ''}">auto</td>
				<td th:text="${col.defaultValue}">default</td>
				<td th:text="${col.checkConstraint}">check</td>
				<td th:text="${col.comment}">comment</td>
			</tr>
		</tbody>
	</table>


	<div class="my-5 py-3 px-5 bg-body-tertiary">
		<h5 th:text="#{label.column.add}"></h5>
		<th:block th:insert="~{contents/databases/fragments/register :: ColumnRegisterForm}"></th:block>
	</div>

	<div id="message-container" th:data-add="#{label.column.add}" th:data-close="#{label.close}"></div>
</th:block>


</html>