<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/parentLayout.html}">


<th:block layout:fragment="breadCrumb">

</th:block>

<th:block layout:fragment="mainContent">


	<th:block th:if="${dbInfo.size()>0}">
		<th:block th:insert="~{contents/databases/fragments/accordion :: accordion}"></th:block>
	</th:block>


	<div class="my-5">
		<th:block th:insert="~{contents/databases/fragments/register :: DBRegisterForm}"></th:block>
	</div>


</th:block>


</html>